body {
    width: 50%;
    margin: auto;
    height: 50%;
    font-size: 20px;
    background-image: url("img(20).jpg");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
td{
  padding: 60px;
  color: black;
  background-color: white;
}
button{
  width: 10%;
  font-size: 20px;
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
  
}
